@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TT Travel';
  src: url('/path/to/fonts/TTTravel-Regular.woff2') format('woff2'),
       url('/path/to/fonts/TTTravel-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travel';
  src: url('/path/to/fonts/TTTravel-Bold.woff2') format('woff2'),
       url('/path/to/fonts/TTTravel-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nft-card-primary: #26C6DA;
  --nft-card-secondary: #D5E800;
  --nft-card-back: #003AE8;
  --gradient-primary: linear-gradient(to bottom right, var(--nft-card-primary), var(--nft-card-secondary));
  --text-primary: #ffffff;
  --text-secondary: #171717;
  --text-highlighted: #D5E800;
  --text-accent: #26C6DA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
    --text-secondary: #ffffff;
    --text-primary: #e48f11;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  background-color: hsl(276, 100%, 11%);
  font-family: 'TT Travel', sans-serif;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-accent {
  color: var(--text-accent);
}
