@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TT Travels';
  src: url('./fonts/TTTravelsTrialRegular.otf') format('otf');
  font-style: normal;
}

/* @font-face {
  font-family: 'Genos';
  src: url('./fonts/Genos-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nft-card-primary: #26C6DA;
  --nft-card-secondary: #D5E800;
  --nft-card-back: #003AE8;
  --gradient-primary: linear-gradient(to bottom right, var(--nft-card-primary), var(--nft-card-secondary));
  --text-primary: #ffffff;
  --text-secondary: #171717;
  --text-highlighted: #D5E800;
  --text-blue-highlighted: #26C6DA;
  --text-accent: #26C6DA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
    --text-secondary: #ffffff;
    --text-primary: #e48f11;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  background-color: #171717;
  /* background-color: hsl(276, 100%, 11%); */
  font-family: 'TT Travels', sans-serif;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-accent {
  color: var(--text-accent);
}

.main-text {
  /* Container */
  max-width: min(65ch, 100% - 2rem); /* Responsive width */
  margin-inline: auto;  /* Modern way to center */
  
  /* Font settings */
  font-size: clamp(1rem, 1vw + 0.75rem, 1.25rem); /* Fluid typography */
  
  /* Spacing */
  display: grid;
  gap: 1.5rem;  /* Modern way to space paragraphs */
}

.main-paragraph {
  margin-bottom: 1.5rem; /* Space between paragraphs */
  text-indent: 0;        /* Modern style often skips indentation */
}